@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::after,::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background:#06000b;
}
.app{
    position: relative;
    max-width: 70vw;
    width: 500px;
    max-height: 40%;
    height: 550px;
    display: flex;
    flex-direction: column;
    color:#6d29a5;
    align-items: center;
    margin: 5px auto;
    border: 2px solid #6D29A5;
    border-radius: 10px;
    box-shadow: 1px 10px 30px -3px #6D29A5 inset;

}
.input-section{
    display: flex;
    gap: 10px;

    margin-bottom: 20px;

}

.input-section .search{
    background-color: #b88cdc;
    width: 280px;
    padding: 8px;
    padding-left: 10px;
    border: none;
    border-bottom:3px solid #6d29a5;
    border-radius: 5px;
    color: #06000b;
    font-weight: 600;
    outline: none;

}

.input-section button{
    background-color: #6d29a5;
    border-radius: 5px;
    border: none;
    color: #b88cdc;
    padding: 0 13px;
    cursor: pointer;
}


.app p{
    position: absolute;
    right: 3px;
    bottom: 0;

    font-size: 10px;
    color: #b88cdc;
}
.app h6{
    display: none;
    color: red;
    margin-bottom: 0;
}
.app h4{
    margin-top:15px;
    padding: 6px 80px;
    border-top: 2px solid #b88cdc;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.ol{
    margin: 0 0 25px 15px;
    padding: 5px;
    overflow-y:scroll;
}

::-webkit-scrollbar{
    content: "";
    overflow-y: hidden;
}
.card-item{
    border:1px solid #6d29a5;
    border-radius: 5px;
    padding: 5px;
    margin: 8px 0px;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;

    max-width: 350px;
    width: 330px;
}

.input-text-wrapper{
    display: flex;
    align-items: start
}

.input-text-wrapper input[type="checkbox"]{
 display: none;
}

.input-text-wrapper .check {
    width: 10px;
    height: 15px;
    background-color: #c5bdcd;
    border: 2px solid #b88cdc;
    border-radius: 4px;
    display: inline-block;
    position: relative;
  }


  .input-text-wrapper input[type="checkbox"]:checked + .check {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
  }

  .input-text-wrapper .check:after {
    content: "";
    position: absolute;
    display: none;
  }


  .input-text-wrapper input[type="checkbox"]:checked + .check:after {
    display: block;
  }
  .input-text-wrapper .check:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.text{
    justify-content: center;
    font-size: 14px;
    font-weight: 100;
    margin: 0 6px;

}

.btn{
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.btn button{
    background:transparent;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: grid;
    place-content: center;

}

.faTrash{
     color:#6D29A5;
}

.faEdit{
    color: #b88cdc;
}

.border-top{
    padding-top:2px;
    padding-left: 8px;
    border-top:3px solid #6d29a5;
    border-top-left-radius: 10px;
}

.counter-var{
    color: #b88cdc;
}
.user{
    color:#d0560a;
}
/* @media (min-width:600px){
    .input-section .search{
        width: 280px;
    }
} */

.menu{
    margin-top: 40px;
    color: white;
}
.menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.5rem;
    border: 1px solid #6d29a5;
    border-radius: 12px;
    margin: 0 2rem;
    padding: 10px;
    color: #b88cdc;
    box-shadow: 1px 1px 20px 1px #6d29a5 inset;
}
.github{
    font-size: 2rem;
    cursor: pointer;
    transition: .3sec ease-in-out;
}
.github:hover{
    transform: scale(1.3);
}
.linkedin{
    font-size: 2rem;
    cursor: pointer;
}
.x-twitter{
    font-size: 2rem;
    cursor: pointer;
}
@media (max-width: 600px){
    .app{
        margin-top: 30px;
    }
    .input-section .search{
        width: 160px;
    }
    .card-item{
        width: 230px;
    }
}